[class *="col-"]{
    float: left;
    position: relative;
    
    background: orange;
    border: 1px solid black;
}

/* align center */
.text-center{
    text-align: center;
}

.text-section-1{
    padding: 0px 10px;
}
/* 767< */
@media screen and (max-width: 767px){

}

/* 768> - 991< */
@media screen and (min-width: 768px) and (max-width: 991px){

}


/* 992> */
@media screen and (min-width:992px){

    main {
       margin-top: 100px;
    }

    section h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

   

    /* section 1 */
    section h1 {
        font-size: 30px;
    }

    img{
        width: 40%;
    }

    #screen{
       
        width: 65%;
    }

    /* section 2 */

    #start-section-2{
        margin-top: 80px;
    }

    .h3-section{
        font-size: 20px;
    }



}

