/* float left columns */
[class *="col-"]{
    float: left;
}

/* align center */
.text-center{
    text-align: center;
}

/* media query 767< */
@media screen and (max-width: 767px){

    .container{
        width: 100%;
    }
    
    .background-color-custom{
        background-color: #f2f2cd;
    }

    .paragraph{
        padding: 0px 20px 0px 20px;
    }

    /* section 1 */

    h1{
        padding-top: 15px;
        margin-bottom: 15px;
        font-size: 32px;
    }

    section h2 {
        margin-top: 10px;
        font-size: 32px;
    }

    h3{
        font-size: 18px;
    }

    hr{
        margin: 0 15px 0 15px;
    }

    /* section 1 */

    #maps{
        width: 25%;
    }

    #screen{
        width: 35%;
    }

    .paragraph-section-1{
        padding: 0px 20px 15px 20px;
    }

    /* section 2 */

    .img-section-2{
        margin-top: 20px;
        width: 25%;
    }

     /* section 3 */
 
    .margin-section{
        margin-top: 15px;
    }

    .img-section-3{
        margin-top: 20px;
        padding: 30px;
        border-radius: 50%;
        width: 25%;
        background-color: #428bca;
    }
}

/*  media query 768> - 991< */
@media screen and (min-width: 768px) and (max-width: 991px){

}


/*  media query 992> */
@media screen and (min-width:992px){
    
    main {
       margin-top: 100px;
    }

    section h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    h3{
        font-size: 20px;
        padding: 15px;
    }

    hr{
        margin: 15px;
    }

    .grey{
        background-color: #f9f9f9;
    }

    .margin-section{
        margin-top: 90px;
    }

    /* section 1 */

    section h1 {
        margin-bottom: 18px;
        font-size: 32px;
    }

    #maps{
        width: 40%;
    }

    #screen{
        width: 65%;
    }

    .paragraph-section-1{
        padding: 0px 10px;
    }

    /* section 2 */

    .img-section-2{
        width: 60%;
    }

    /* section 3 */


    .img-section-3{
        background-color: #428bca;
        padding: 30px;
        
        border-radius: 50%;
        width: 25%;
    }
    

}

